@import url();

:root{
    --bg-primary: #1A2238;
    --txt-primary: #eaeaea
}

*,html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
} 
  /* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
  /* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
  /* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: var(--bg-primary);
    color: var(--txt-primary);

} 
.logo{
    margin-right: auto;
    display: flex;
    gap:6px ;
    margin-top: 10px;
    margin-left: 10px;
}
.logo-img{
    width: 35px;
    height: 35px;
    margin-top: 3px;
}
.logo-title{
    margin-top: 1px;
    cursor: pointer;
    transition: all .5s ease 0s;
    
}
.logo:hover{
    color: #FF6A3D
    
}
.btn-cta{
    flex-wrap: wrap;
    margin-right: 10px;
    padding: 6px 12px;
    border: none;
    font-size: 20px;
    background-color: #FF6A3D;
    color: var(--txt-primary);
    border-radius: 50px;
    cursor: pointer;
}
.btn-cta:hover{
    color:#1A2238;
}
nav ul{
    padding: 10px ;
    display: flex;
}
li{
    padding: 10px;
    list-style: none;
}
li a{
    transition: all .5s ease 0s;
    display: inline-block;
}
li a:hover{
    transform: rotate(2deg);
    color: #FF6A3D
}
a{
    color: var(--txt-primary);
    text-decoration: none;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:20px 0;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-align: center;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.description{
    font-size: 28px;
    font-weight: bolder;
}
.img-foto{
    width:100%;
    max-width: 500px;
    height: auto;
    padding: 10px;

}
.parallax{
    background-image: url('Aset/image/Jenggot-removebg-preview.png');
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    
}
.tentang{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1A2238;
    color: var(--txt-primary);
    padding: 40px;
}
.mt-10{
    margin-top: 20px;
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    
}
.card-item{
    text-align: center;
    width: 25%;
    min-height: 200px;
    max-height: 300px;
    background-color: #f7f7f7;
    color: #222;
    padding: 24px;
    box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);

}
.card-title{
    font-size: 10 px;
    font-weight: bolder;
}
.card-description{
    font-size: 14px;
    margin-top: 4px;
}
.icon{
    margin: 10px;
    width: 75px;
    height: 75px;
    padding: 4px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: #1A2238;
    color: #eaeaea;
}
@media screen and (max-width: 500px) {
    .card{
        flex-direction: column;
        gap: 0;
    }
    .card-item{
        width: 100%;
        opacity: .9;
    }
    .container{
        padding: 0;    
        width: 100%;    
    }
    .intro{
        margin-top: 20px;
    }
    .img-foto{
        padding: 0;
    }
    nav{
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #1A2238;
        z-index: 9;
    }
    footer{
        margin-bottom: 70px;
        margin-top: 70px;
    }
}